.photo-grid {
    margin: 0 auto;
    width: 92.5vmax;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    justify-items: center;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 90.5vmax;
    gap: 14px;
  }
}
