.intro {
    width: 54%;
    min-height: 429px;
    margin-left: 148px;
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 67%;
    margin-left: 48px;
    margin-bottom: 93px;
  }
}
