.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 28px auto 0;
}

@media (max-width: 1024px) {
  .lead__title {
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .lead__title {
    font-size: 70px;
    line-height: 60px;
  }
}

@media (max-width: 500px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 320px) {
  .lead__title {
    margin-top: 33px;
  }
}
