.footer__links {
  display: flex;
  gap: 18px;
}

@media (max-width: 700px) {
  .footer__links {
    justify-content: space-around;
  }
}

@media (max-width: 500px) {
  .footer__links {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}
