.lead__image {
  width: 100%;
  margin: 64px auto 0;
}

@media (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media (max-width: 768px) {
  .lead__image {
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}

/* .lead__image {
    width: calc(100% - 296px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
} */

/* @media screen and (max-width: 1024px) {
  .lead__image {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    width: 100%;
  }
} */
