.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 32px 170px 0;
}

@media (max-width: 900px) {
  .lead__subtitle {
    margin: 32px 120px 0;
  }
}

@media (max-width: 768px) {
  .lead__subtitle {
    margin: 32px 100px 0;
  }
}

@media (max-width: 700px) {
  .lead__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin: 32px 50px 0;
  }
}

@media (max-width: 500px) {
  .lead__subtitle {
    margin: 16px 10px 0;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    margin: 16px 20px 0;
    font-size: 16px;
    line-height: 20px;
  }
}

/* .lead__subtitle {
    margin: 0 auto 64px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    width: calc(100% - 640px);
} */

/* @media screen and (max-width: 1024px) {
  .lead__subtitle {
    width: calc(100% - 384px);
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: calc(100% - 128px);
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    width: calc(100% - 32px);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
} */
