.cover {
  max-width: 1184px;
  margin: 92px auto 0;
  background: url(../../images/cover__background_1280.png);
  background-position: center center;
  background-size: cover;
  position: relative;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    background: url(../../images/cover__background_1024.png);
  }
}

@media (max-width: 768px) {
  .cover {
    max-width: 768px;
    background: url(../../images/cover__background_768.png);
    margin-top: 90px;
  }
}

@media (max-width: 320px) {
  .cover {
    max-width: 320px;
    background: url(../../images/cover__background_320.png);
    margin-top: 92px;
  }
}
