.cover {
  width: calc(100% - 96px);
  min-height: 740px;
  background-image: url(../../../images/cover__background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 91px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
}

.cover:hover {
  opacity: 0.3;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: 100%;
    margin-bottom: 88px;
    min-height: 480px;
  }
}
