.header {
    width: calc(100% - 96px);
    margin: 0 auto 56px;
    padding-top: 28px ;
    background-color: #2A2C2F;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
