.place {
  display: grid;
  grid-template-columns: fit-content(460px) 1fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  row-gap: 48px;
  column-gap: 40px;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: fit-content(440px) 1fr;
    column-gap: 32px;
  }
}

@media (max-width: 850px) {
  .place {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: fit-content(340px) 1fr;
    column-gap: 28px;
    row-gap: 46px;
    margin-bottom: 71px;
  }
}

@media (max-width: 675px) {
  .place {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  .place {
    grid-template-columns: fit-content(320px);
    row-gap: 32px;
    margin-bottom: 47px;
  }
}
