.footer {
  max-width: 1184px;
  margin: 92px auto 24px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media (max-width: 700px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
    flex-direction: column;
    gap: 48px;
    margin-left: 16px;
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: 220px;;
    margin-top: 64px;
    flex-direction: column;
    gap: 48px;
    margin-left: 16px;
    padding: 0;
  }
}
