.place {
  width: 75%;
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 25.5% 1fr;
  column-gap: 40px;
}

.place:nth-of-type(2) {
  grid-template-rows: max-content 24% 1fr;
  margin-bottom: 78px;
}

.place:nth-of-type(3) {
  grid-template-rows: max-content 34% 1fr;
  margin-bottom: 81px;
}

.place:nth-of-type(4) {
  grid-template-rows: max-content 21% 1fr;
}

.place:nth-of-type(5) {
  margin-bottom: 93px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px; /* TO DO */
    grid-template-rows: max-content 31.5% 1fr;
    column-gap: 32px;
  }
  .place:nth-of-type(2) {
    grid-template-rows: max-content 25% 1fr;
  }
  .place:nth-of-type(3) {
    grid-template-rows: max-content 41% 1fr;
  }
  .place:nth-of-type(4) {
    grid-template-rows: max-content 22.5% 1fr;
  }
}
