/* .place__website {
    width: max-content;
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
    margin-bottom: 46px;
} */

/* @media screen and (max-width: 768px) {
  .place__website {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    align-self: flex-start;
    margin-left: 16px;
    margin-bottom: 32px;
  }
} */
