.place__title {
    margin: 0;
    margin-bottom: 48px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 460px; /* TO DO */
    grid-column: 1;
    grid-row: 1;
    /* grid-area: heading; */
}
